body {
    background-color: darkslategray;
}

.container {
    display: flex;
    margin-top: 10px;
    padding-left: 10%;
    background-color: aliceblue;
}

.filter {
    width: 20%;
    text-align: center;
}

.content {
    flex-grow: 1;
    padding-left: 10%;
    border-left: 10px;
    border-left-color: darkslategray;
    border-left-style: double;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
    text-align: center;
}