body{
background-color: darkslategray;
}
.container {
    margin-top: 50px;
    padding-left: 10%;
    padding-left: 10%;
    background-color: aliceblue;
}

.filter {
    text-align: center;
}

.content {
    border-left: 1px;
    border-left-color: aqua;
    border-left-style: double;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}